<%- model_class = FeePayment -%>
<div class="page-header">
  <h1><%=t '.title', :default => FeePayment %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:paid) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fee_payments.each do |fee_payment| %>
      <tr>
        <td><%= fee_payment.id %></td>
        <td><%= fee_payment.paid %></td>
        <td><%=l fee_payment.created_at, format: :long %></td>
        <td>
          <%= link_to fee_payment_path(fee_payment), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to fee_payment_path(fee_payment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_fee_payment_path,
            :class => 'btn btn-primary' %>
